//Bebas Neue Font
@font-face {
  font-family: 'Bebas Neue';
  src: url('../sass/webfonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

//Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('../sass/webfonts/Montserrat/Montserrat-Regular.ttf');
  }

//JetBrains Mono
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../sass/webfonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf');
}
