/*Set all generic values, no margins, paddings, boorders*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Make all elements block elements*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*Change to absence of list-style*/
ol, ul {
  list-style: none;
}

/*Reset all quotes to ''*/
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/*No more double borders and no space between borders*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*No adjusting size of text*/
body {
  -webkit-text-size-adjust: none;
}

/*Set default highlighting to transparent*/
mark {
  background-color: transparent;
  color: inherit;
}

/*Make focusing invisible*/
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*Make inputs with no appearance*/
input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../webfonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../webfonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../webfonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}
html {
  font-size: 30px;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 1152px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: #ffffff;
  color: #000000;
}

body, input, select, textarea {
  color: #000000;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #000000;
  border-bottom: dotted 1px;
}
a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

strong, b {
  font-weight: 600;
  color: #000000;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", Helvetica, cursive;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 1.75;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 1.5rem 0;
  text-transform: none;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0 0 2rem 0;
}

h3 {
  font-size: 0.875rem;
}

h4 {
  font-size: 0.875rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.625rem;
}

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem;
}

blockquote {
  border-left: solid 0.5rem rgba(144, 144, 144, 0.25);
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 1rem 0 1rem 2rem;
}

code {
  background: rgba(144, 144, 144, 0.1);
  border-radius: 0.325rem;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9rem;
  margin: 0 0.25rem;
  padding: 0.25rem 0.65rem;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
  width: 100%;
}
pre code {
  display: block;
  line-height: 1.75;
  padding: 1rem 1.5rem;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 2px rgba(144, 144, 144, 0.25);
  margin: 3rem 0;
}
hr.major {
  margin: 5rem 0;
}
@media screen and (max-width: 736px) {
  hr.major {
    margin: 3rem 0;
  }
}

.whole-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 0 1 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#pic-name {
  background-image: url("../../images/lilac-breasted-roller.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: 10vw;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}
#pic-name h1 {
  color: #ffffff;
  font-size: 8rem;
}
#pic-name p {
  color: #ffffff;
  font-size: 2rem;
}

#about-me {
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 1.5em;
}

/*# sourceMappingURL=main.css.map */
